<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Segunda Entrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/css/index.css">
    
</head>
<div>
    <h1>Segunda entrega - Saczuk Sebastian - Programación Backend</h1>
    <h2> Lista de Productos en Stock</h2>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody id="productList">
            {{#each food}}
            <tr id="{{this.code}}">
                <td>{{this.code}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>