<html>

  <head>
    <meta charset="UTF-8" />
    <title>Segunda entrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <div>
    <h1>Segunda entrega - Saczuk Sebastian - Programación Backend</h1>
    <h2> Lista de Productos en Stock</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
        </tr>
      </thead>
      <tbody id="pList">
        {{#each food}}
          <tr id="{{this.code}}">
            <td>{{this.code}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div>
    <h2> Agregar nuevo Producto</h2>

    <form id="formProduct">

      <label for="title">title:</label>
      <input type="text" id="title" name="title" /><br />

      <label for="description">description:</label>
      <input type="text" id="description" name="description" /><br />

      <label for="code">code:</label>
      <input type="number" id="code" name="code" required /><br />

      <label for="price">price:</label>
      <input type="number" id="price" name="price" /><br />

      <label for="stock">stock:</label>
      <input type="number" id="stock" name="stock" /><br />

      <label for="thumbnail1">thumbnail 1:</label>
      <input type="text" id="thumbnail1" name="thumbnail1" /><br />

      <label for="thumbnail2">thumbnail 2:</label>
      <input type="text" id="thumbnail2" name="thumbnail2" /><br />

      <label for="estado">estado:</label>
      <input type="text" id="estado" name="estado" /><br />

      <label for="category">category:</label>
      <input type="text" id="category" name="category" /><br />

      <button type="submit" id="btn_registrar">Registrar</button>

    </form>
  </div>

  <div>
    <h2> Eliminar Producto</h2>

    <form id="deleteProduct">

      <label for="pEliminar">Producto a Eliminar:</label>
      <input type="number" id="pEliminar" name="pEliminar" required /><br />
      <button type="submit" id="btn_eliminar">Eliminar</button>

    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

</html>